<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around min-100-vh">
    <header class="flex-column">
        <nav class="d-flex justify-space-between align-center p-2">
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          {{#if loggedIn}}
          <a href="/logout"><button id="logout" class="btn-no-style">Logout</button></a>
          {{else}}
          <a href="/login">Log In</a>
          {{/if}}
        </nav>
      <h1 class ="p-2">
        💻 Tech Blog 💻
      </h1>
    </header>
      <main class="mt-5">
        {{{ body }}}
      </main>
  </div>
   {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>