{{! <div>Tech Blog</div> }}

{{#each posts as |post|}}
  <div class="dish col-md-5" data-userId={{post.user.id}}>
    <p class="card-header">
      {{post.title}}
      {{post.user.username}}
    </p>
    <p class="card-body">
      {{post.body}}
    </p>
  </div>
{{/each}}