{{#each posts as |post|}}
  <div class="mx-5 my-2">
    <a href="/post/{{post.id}}">
    <p data-id="{{id}}" class="card-header">
      {{post.title}}
      {{format_date post.createdAt}}
    </p>
    </a>
  </div>
{{/each}}

  <form id="new-post-form" class="card-header hidden" action="">
  
  <h2>New Post</h1>
  <div>
    <h4>Title</h4>
 <input  id="title" type="title" />
  </div>
  <div>
    <h4>Description</h4>
 <input id="desc" type="description" />
  </div>
  <button id="post-btn">Post</button>

 </form>

<div class="new-post-div">
 <button id="create-btn" class="card-header text-center">Create a new post</button>
</div>
 


<script src="/js/create.js"></script>